@font-face {
	font-family: 'Liberation-Mono';
	src: url('[pad_naar_lettertype]/Liberation-Mono.ttf.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Liberation-Sans';
	src: url('[pad_naar_lettertype]/Liberation-Sans.ttf.woff') format('woff'); 
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Liberation-Sans-Bold';
	src: url('[pad_naar_lettertype]/Liberation-Sans-Bold.ttf.woff') format('woff'); 
	font-weight: normal;
	font-style: normal;
  }
  
  .header {
	background-color: #283046;
	color: #FFFFFF;
	text-align: center;
	padding: 0;
	border: 1px solid #AFAFAF;
	font-size: 2em;
	height: 2em;
	max-width: 26em;
	margin: auto;
  }
  
  .header-image {
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
  }
  
  .navigation {
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-evenly;
	border: 1px solid #898989;
	max-width: 52em;
	margin: auto;
  }
  
  .navigation a {
	float: left;
	display: block;
	color: #283046;
	text-align: center;
	padding: 0.75em;
	text-decoration: none;
	font-size: 1em;
  }
  
  .navigation a:hover {
	background-color: #283046;
	color: #FFFFFF;
	border: 1px solid #2A2A2A;
	padding-left: calc(0.75em - 1px);
	padding-right: calc(0.75em - 1px);
  }
  
  .sticky-div-top {
	top: 0;
	position: sticky;
	padding: 0em;
  }
  
  .sticky-div-bottom {
	bottom: 0;
	position: sticky;
	padding: 0em;
  }
  
  .content {
	border: 1px solid #969696;
	background-color: #FFFFFF;
	padding: 1em;
	min-height: calc(100vh - 12em + 5px);
	max-width: 50em;
	margin: auto;
  }
  
  .wrapper {
	padding: 0.2em;
	margin-bottom: 2em;
	overflow: hidden;
  }
  
  .wrapper-flex {
	display: block;
  }
  
  .flex-width-33 {
	padding: 0.5em;
	margin: auto;
	display: block;
  }
  
  .flex-width-67 {
	padding: 0.5em;
	margin: auto;
	display: block;
  }
  
  @media screen and (min-width: 53em) {
	.wrapper-flex {
	  display: flex;
	}
  
	.flex-width-33 {
	  padding: 0.25em;
	  width: 33%;
	  height: 100%;
	  margin: auto;
	}
  
	.flex-width-67 {
	  padding: 0.5em;
	  width: 67%;
	  height: 100%;
	  margin: auto;
	}
  }
  
  .width-40 {
	padding: 0.5em;
	margin: auto;
	display: block;
  }
  
  .width-60 {
	padding: 0.5em;
	margin: auto;
	display: block;
  }
  
  .skills-wrapper
  